<div class="col-sm-12 col-sm-12 row ">
  <div class="col-md-7 col-sm-12 ">
    <div class="header-pie">
      <h4 class="name">{{ headerName }}</h4>
    </div>
  </div>
  <div class="col-md-5 col-sm-12">
    <div class="body-pie "><canvas #canvas></canvas></div>
  </div>
  <div class="col-md-12 col-sm-12 row">
    <div class="col-md-6 col-sm-12">
      <span class="freelabel"
        >Free: <strong>{{ freePercend }} % </strong></span
      >
    </div>
    <div class="col-md-6 col-sm-12">
      <span class="soldlabel"
        >Sold: <strong>{{ soldPercend }} % </strong></span
      >
    </div>
  </div>
</div>
