table {
    width: 100%;
  }
  
  
  th.mat-sort-header-sorted {
    color: black;
  }
  .fa-check {
    color: green;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.5em;
  }
  .fa-times-circle {
    color: red;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.5em;
  }
  
  
  
  